body{
background-color:  rgb(0, 113, 133);

}

.header{
height: 100px;
background-color:white;
 border-radius: 20PX;

}
.main{
    display: flex;
    justify-content: space-evenly;
height:500px;
background-color: white;
padding-top: 3rem;
margin-top: 100px;
margin-left: 100px;
margin-right: 0px;
border-radius: 30px;
}
.GRRET{
    text-align-last: center;
    font-family:serif;
}
.main2{
    display: flex;
    justify-content: space-evenly;
    height:500px;
background-color: white;
padding-top: 3rem;
margin-top: 100px;
margin-left:100px;
margin-right: 0px;
border-radius: 20px;

}
.items{
height: 300px;
width: 200px;
background-color: rgb(0, 113, 133);
margin: 50px;
border-radius: 30px;
padding: auto;
box-shadow: 0 1.5REM 3REM -0.75REM HSLA(0,0%,0%,0.25);
}
.im{
    padding: auto;
    height:200px ;
    width: 200px;
}

.FOOTER{
    background-color: white;
     height: 200PX;
     border-radius: 30px;
}

.LOGO3{
height: 200px;
width: 200px;
float: right;
}

.main{
    display: flex;
    justify-content: center;
}
.mid{
height: 500px;
background-color: white;

}
.MAIN2{
DISPLAY:flex;
justify-content: center;

}
.FORM{
    background-color: white;
    height: 500PX;
}
.main22{background-color: white
    ;
    height: 400px;
    border-radius: 30px;
}